services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: Admin123
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  backend:
    build: .
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      SPRING_MONGODB_URI: mongodb://root:Admin123@mongodb:27017/stockdb?authSource=admin
    depends_on:
      - mongodb
    restart: unless-stopped

volumes:
  mongo-data:
    driver: local
